* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  color: #1c1e21;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.left {
  flex: 1;
  padding: 20px;
}

.left h1 {
  color: #1877f2;
  font-size: 4rem;
  margin-bottom: 10px;
}

.left p {
  font-size: 1.5rem;
  max-width: 500px;
}
