.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #6d5e5e;
  transition: background-color 0.2s;
}

.task span {
  flex: 1;
  margin-left: 12px;
  cursor: pointer;
}

.task.completed span {
  text-decoration: line-through;
  color: gray;
}

.task .circle {
  width: 20px;
  height: 20px;
  border: 2px solid #1877f2;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.task.completed .circle {
  background-color: #1877f2;
}

.task.completed .circle::after {
  content: "✔";
  color: rgb(0, 0, 0);
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 14px;
}

.task button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task button:hover {
  background-color: #d32f2f;
}
